@font-face {
  font-family:"myFirstFont";
  src:url('../Font/Anjelina.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: myFirstFont,sans-serif;
  font-size: 75px;
}

h2,h3,h4,h5{
  font-family: "futura-pt", sans-serif;
  font-size: 25px;
}

ul, ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
  font-family: "open-sans",sans-serif;
  font-size:16px;
}

li {
  margin: 0;
}

p {
  font-family: "open-sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
.z-index{
  z-index: 999;
}
.hero-text{
  z-index: 999;
}
.cover{
  object-fit: cover;
}
.max{
  max-width: 300px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#myVideo {
  filter: brightness(70%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.w{
  height: 2px;
  background-color:#FFFFFF;
}
.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "futura-pt", sans-serif;
  z-index: 2;
}

.m-w{
  max-width: 400px;
}

.links {
  letter-spacing: 2px;
  font-size: 14px;
  font-family: "futura-pt", sans-serif;
}

.links:hover {
  color: #B53339;
}

#hero {
  display: grid;
  place-content: center;
  position: relative;
  background-image: url(../images/Booking-img.png);
  background-size: cover;
  height: 100%;

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
}
#hero1 {
  display: grid;
  place-content: center;
  position: relative;
  background-image: url(../images/Vinoteque-img-hero.png);
  background-size: cover;
  height: 100%;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
}

#hero2{
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  position: relative;
  background-image: url(../images/pexels-selman-8531516.jpg);
  background-size: cover;
  height: 100%;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
}

#hero3{
  display: grid;
  place-content: center;
  position: relative;
  background-image: url(../images/IMG_5194.jpeg);
  background-size: cover;
  height: 100%;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

}
#hero4{
  display: grid;
  place-content: center;
  position: relative;
  background-image: url(../images/Private-Events-img-hero.png);
  background-size: cover;
  height: 100%;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
}

#hero7{
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  position: relative;
  background-image: url(../images/pexels-kursat-akkoyunlu-3800181.jpg);
  background-size: cover;
  height: 100%;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
}

.wine{
  font-family: "Futura PT", sans-serif;
  font-size: 40px;
}

.kontakt_os {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
  padding: 30px;
}

.kontakt_os .title-contact {
  text-align: center;
  letter-spacing: 1px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
  background: #1a1a1a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-form-kontakt .form-field-kontakt {
  position: relative;
  margin: 32px 0;
}

.contact-form-kontakt .input-text-kontakt {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #9a1347;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form-kontakt .input-text-kontakt:focus + .label-kontakt,
.contact-form-kontakt .input-text-kontakt.not-empty + .label-kontakt {
  transform: translateY(-24px);
  color: dimgrey;
}

.contact-form-kontakt .input-text-kontakt:focus {
  outline: none;
}

.contact-form-kontakt .label-kontakt {
  position: absolute;
  left: 20px;
  bottom: 11px;
  line-height: 26px;
  font-weight: 400;
  color: #9a1347;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}

.contact-form-kontakt .submit-btn {
  display: inline-block;
  background-color: #aa0036;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.label-kontakt {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
}

.title-contact {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
}
