* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

 #myVideo{
  filter: brightness(70%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.transparent{
  background-image: linear-gradient(rgba(0,0,0,1), rgba (0,0,0,0));
  font-family: "Futura PT", "Times New Roman";
  font-size: 18px;
  z-index: 99;
}

.contact{
  font-family: "Source Sans Pro", "Times New Roman";
  font-size: 20px;
}

.adress{
  font-family: "Futura PT", "Times New Roman";
  font-weight: lighter;
}

.copyright{
  font-family: "Futura PT", "Times New Roman";
}

.rights {
  font-family: "Futura PT", "Times New Roman";
  font-size: 14px;

}
.logo{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn1{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}



header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}
//test